body {
    background-color: rgb(15,15,20);
    text-align: center;
}

p {
    color: white;
    margin: 2vmin;
    font-size: 4vmin;
    font-family: Sans-Serif;
    font-weight: bold;
    text-shadow: black .5vmin .5vmin 1vmin;
}
canvas {
    background-color: rgb(245,245,245);
    margin: 0.4vmin;
    border-radius: 1%;
    border-style: solid;
    border-width: .7vmin;
    border-color: rgb(225,225,225);
    box-shadow: black 1vmin 1vmin 2vmin;
}

canvas:focus {
    outline: none;
}